<div class="post">
    {{!-- name:{{this.name}}<br>
    distance:{{this.distance}}<br>
    time:{{this.time}}<br>
    <br>
    <hr> --}}
    <div class="card">
        <div class="container3">
            <h2>{{this.name}}</h2>
            <b>Type:{{this.type}}<br></b>
            <b>Distance:{{this.distance}}<br></b>
            <b>Time:{{this.time}}<br></b>
            <b>Pace:{{this.pace}}<br></b>
            <br>
        </div>
    </div>
</div>