<div id="add-activity" class="card">
    <b class="title">Type </b><b>:&nbsp;</b>
    <select class="select" onchange={{action "updateType" value="target.value"}}>
        <option value="Jogging">Jogging</option>
        <option value="Base Run">Base Run</option>
        <option value="Progression Run">Progression Run</option>
        <option value="Fartlek<">Fartlek</option>
        <option value="Sprints">Sprints</option>
        <option value="Hill Repeats">Hill Repeats</option>
        <option value="Tempo Run">Tempo Run</option>
    </select>
    <br>
    <b class="title">Distance </b><b>:&nbsp;
    </b>
    <Input @placeholder="Enter Distance in km" @type="text" @name="distance" @value={{this.model.distance}}
        @required="true" />
    <br>
    <b class="title">Time </b><b>:&nbsp;
    </b>
    <Input @placeholder="Enter Run Time in minutes" @type="text" @name="time" @value={{this.model.runTime}}
        @required="true" />
    <br>
    <b class="title">Pace </b><b>:
        &nbsp;&nbsp;&nbsp;{{pace}} km/h</b><br>
    <b class="title">Date </b><b>:&nbsp;
    </b>
    <input type="date" class="select" onchange={{action "updateDate" value="target.value"}}>
    <div class="AA-container">
        <button class="submit" {{action "add" this.model}}>Add</button>
    </div>
</div>