<div class="container4">
    <form class="example">
        <Input @type="text" @placeholder="Search.." @name="search" @value={{this.model.userSearch}} />
        <button class="invite" {{action "search" this.model}}><i class="fa fa-search"></i></button>
    </form>
</div>
<br>
<br>

<!--why not loaded at first time-->
{{#each this.model.friends as |user|}}
{{!-- {{#unless (equal this.user_id user.id)}} --}}
<div class="post">
    <LinkTo @route="view-friend" class="friend" @model={{user.id}}>
        <div class="card">
            <div class="container3">
                {{#unless (find user.friends this.model.user.id)}}
                <button class="follow" {{action 'follow' user.id this.model}}>FOLLOW</button>
                {{/unless}}
                <h2>{{user.name}}</h2>
                <b>@{{user.username}}</b>
                <br>
            </div>
        </div>
    </LinkTo>
</div>
<br>
{{!-- {{/unless}} --}}
{{/each}}