<div class="container1">

    <h1 class="pro">Profile</h1>

    <LinkTo @route="edit-profile" style="text-decoration: none; color:white;">
        <button class="probutton">Edit</button></LinkTo>
    <div class="post">
        <div class="card">
            <div class="container3">
                <br>
                <b class="title" style="colorlightgray">Name </b><b style="display: inline-block;">:&nbsp;
                    {{this.model.name}}</b><br>
                <b class="title" style="colorlightgray">Userame </b><b style="display: inline-block;">:&nbsp;
                    {{this.model.username}}</b><br>
                <b class="title" style="colorlightgray">Email </b><b style="display: inline-block;">:&nbsp;
                    {{this.model.email}}</b><br>
                <b class="title" style="colorlightgray">Gender </b><b style="display: inline-block;">:&nbsp;
                    {{this.model.gender}}</b><br>
                <b class="title" style="colorlightgray">Location </b><b style="display: inline-block;">:
                    &nbsp;{{this.model.location}}</b><br>
                <br>
            </div>
        </div>
    </div>
</div>
{{#each this.model.posts as |post|}}
<Post @name={{this.model.name}} @image={{post.image}} @title={{post.title}} @content={{post.content}} />
{{/each}}