<div id="view-friend">
    <h1>Profile</h1>
    {{#if (not (follow this.model.friend.id this.model.user.children))}}
    {{#if (not-eq this.model.friend.id this.model.user.id)}}
    <button class="follow" {{action "follow" this.model}}>FOLLOW</button>
    {{/if}}
    {{/if}}
    <div class="card">
        <br>
        <b class="title">Name </b><b>: {{this.model.friend.name}}</b><br>
        <b class="title">Userame </b><b>: {{this.model.friend.username}}</b><br>
        <b class="title">Gender </b><b>: {{this.model.friend.gender}}</b><br>
        <b class="title">Location </b><b>: {{this.model.friend.location}}</b><br>
        <br>
    </div>
</div>
{{#each this.model.friend.posts as |post|}}
    <br><br>
    <Post @image={{post.image}} @title={{post.title}} @content={{post.content}} />
{{/each}}